<h1>ADD NEW AUTHOR </h1>

{{form_start(form)}}
<table>

    <tr>
        <td>{{form_label(form.username)}}</td>
        <td>{{form_widget(form.username)}}</td>
    </tr>
    <tr>
        <td>{{form_label(form.email)}}</td>
        <td>{{form_widget(form.email)}}</td>
    </tr><tr>
        <td>{{form_label(form.nb_books)}}</td>
        <td>{{form_widget(form.nb_books)}}</td>


    </tr>
</table>

{{form_end(form)}}