<h1>List of Authors</h1>
<table border="1">
<h5>IF YOU WANT TO SHOW THE LIST OF BOOKS OF A SPECIFIC USER <br> U ONLY HAVE TO CLICK ON THE NAME OF USER </h5>
    <tr>

        <td>username</td>
        <td>email</td>
        <td>nbbooks</td>
        <td class="text-center" >action</td>
    </tr>
    {% for a in authors   %}

        <tr>

            <td><a href="{{ path('app_author_books', {'authorId': a.id}) }}">{{ a.username}}</a></td>
            <td>{{ a.email}}</td>
            <td>{{a.nbbooks}}</td>


            <td><a href="{{  path('app_updateauthor',{'id':a.id}) }}" >Update</a>
            <a href="{{  path('app_deleteauthor',{'id':a.id}) }}" >Delete</a></td>

        </tr>

    {%endfor %}

</table>
<button style="background-color: #ffffff; color: #000000; margin-top: 15px" onclick="location.href='{{ path('app_addauthor') }}'">Add New Author</button>

<p >Delete All Authors with Zero Books <button style="background-color: #ffffff; color: #000000; margin-top: 15px" onclick="location.href='{{ path('app_zerobook') }}'">Delete</button></p>
