<form method="post" action="{{ path('app_searchref') }}">
    {{ form_start(form) }}
    {{ form_row(form.ref) }}
    <button type="submit">search </button>
    {{ form_end(form) }}
</form>

<table border="1">
    <tr>
        <th>title</th>
        <th>category</th>
        <th>publishedDate</th>
        <th>published</th>
        <th>author</th>
        <th class="text-center">Action</th>
    </tr>
    {% for b in books %}
        <tr>
            <td>{{ b.title }}</td>
            <td>{{ b.category }}</td>
            <td>{{ b.publishedDate|date('M-d-Y') }}</td>
            <td>{{ b.published }}</td>
            <td><a href="{{ path('app_author_books', {'authorId': b.author.id}) }}">{{ b.author.username }}</a></td>

            <td class="text-center">

                <a href="{{ path('app_updatebook', {'ref': b.ref}) }}">Update</a>
                <a href="{{ path('app_deletebook', {'ref': b.ref}) }}">Delete</a>
                <a href="{{ path('app_detailbook', {'ref': b.ref}) }}">Details</a>
            </td>
        </tr>
    {% endfor %}
</table>